@{
    ViewData["Title"] = "Política de Privacidad";
}
<h1>@ViewData["Title"]</h1>

<br />

<h2>En Recalde Enterprises, valoramos y respetamos tu privacidad. 
    Esta Política de Privacidad describe cómo recopilamos, utilizamos y protegemos tu información personal 
    cuando visitas nuestro sitio web.</h2>

<br /> 

<ol>
    <li>
         Información que Recopilamos Recopilamos información personal que nos proporcionas directamente
    </li>

    <li>
        Uso de la Información Utilizamos tu información para mejorar tu experiencia en nuestro sitio web
    </li>

    <li>
        Protección de la Información Implementamos medidas de seguridad adecuadas para proteger tu información personal 
    </li>

    <li>
        Tus Derechos Tienes derecho a acceder, corregir o eliminar tu información personal en cualquier momento
    </li>
</ol>
